.navbar_search{
	margin-left: -3%;
	margin-right: 3%
}

.navbar ul li a{
	text-transform: uppercase;
}

.navbar ul li:hover{
	border-bottom: rgb(16,108,200);
    border-bottom-width: 3px;
    border-bottom-style: solid;
}

.navbar-brand, .navbar-brand:hover{
	font-size: 25px;
    background-color:rgb(16,108,200) !important;
    color: white !important;
    font-weight: bold;
}

#introduction_div{
	background: linear-gradient(#8CFFE9, #86D3FF);
	border-radius: 5px;
	padding: 1% 4%;
	margin-top: 4%;
}

#introduction_div h1{
	margin-bottom: 2%;

}

#introduction_div p{
	font-size: 1.2em;
	word-spacing: 4px;
}

.why_us_list{
	font-size: 1.5em;
}

.trending{
	padding: 0;
	margin-top: 3%;
}

.trending .glyphicon-fire{
	font-size: 1.7em;
    margin-top: 3%;
    color: #d82f17;
    position: absolute;
    top: 0.1%;
    left: 20%;
}
.trending ul{
	list-style: none;
}

.trending ul li{
	float: left;
    width: 22%;
    margin-right: 2%;
    margin-bottom: 3.5%;
}

.trending ul li h4{
	margin-top: 2%;
	text-align: center;
}

iframe{
	width: 100%;
	height: 180px;
}

.trending h3{
	margin-top: 12%;
	margin-left: 18%;
	width: 300px;
}

.md-whiteframe-3dp{
	position: relative;
	background-color: aliceblue;
}

.view_all_trending{
	width: 9%;
    position: absolute;
    right: 0;
    margin-top: 2.8%;
    margin-right: 3%;
}

.view_all_trending h6{
	font-size: 15px;
	margin-right: 6%;
    float: left;
    
}

.view_all_trending .fa-arrow-right{
	margin-top: 9%;
}

.trending_videos{
	margin-top: 9%;
    margin-left: -24%;
}

.footer.container{
	padding: 0;
	margin-top: 2.5%;
	margin-bottom: 0.5%;
}

.footer hr{
    	margin-bottom: 10px;
}
.footer p{
	    margin-top: 0;
}

/*Mobile devices*/
@media(max-width: 480px){
	.navbar{
		margin-bottom: 0;
	}
	#introduction_div{
		margin-top: 0;
	}
	.navbar-form{
		margin-bottom: 0;
		padding: 0 15px;
	}
	.navbar-form .form-group{
	    width: 65%;
	    float: left;
	    margin-left: 0%;
	    margin-top: 10px;
	}
	.navbar-form button{
		float: right;
		margin-top: 10px;
	}
	.navbar-brand{
	 	width: 82%;
        text-align: center;
	}
	#introduction_div h1{
		font-size: 27px;
		margin-bottom: 3%;
    }
    #introduction_div h2{
		font-size: 27px;
		text-align: center;
    }
    .why_us_list{
		font-size: 1.3em;
    }
    .trending{
    	margin-top: 7%
    }
    .trending h3{
	    position: absolute;
	    text-align: center;
	    width: 200px;
	    left: 4%;
	    margin-top: 5%;
    }
    .trending .glyphicon-fire{
		position: absolute;
	    top: 0.5%;
	    left: 70%;
    }
    .trending ul li {
	    float: left;
	    margin-right: 2%;
	    margin-bottom: 3.5%;
	    margin-left: 22%;
	    width: 300px;
    }
    .trending_videos {
	    margin-top: 18%;
	    margin-left: -21%;
    }
    .trending{
    	height: 1975px;
    }
    .trending md-whiteframe{
    	height: 100%;
    }
    .view_all_trending {
	    width: 50px;
	    bottom: -1px;
	    margin-top: 5%;
	    width: 9%;
	    position: absolute;
	    right: 39px;
	    margin-top: 2.8%;
	    margin-right: 3%;
    }
    .view_all_trending h6 {
	    width: 70px;
    }
    .view_all_trending .fa-arrow-right{
		position: absolute;
	    bottom: 11px;
	    right: -33px;
    }
    .footer hr{
    	margin-bottom: 10px;
    }
    .footer p{
	    text-align: center;
	    margin-bottom: 2%;
	    margin-top: 0;
    }
}